.mc-auto-pane-contents.mc-markdown
  a(name="top")
  h1 About SandStorm
  | The SandStorm™ IDE is a product of
  <a(href="http://redwoodeda.com", target="_blank")
    | Redwood EDA, LLC
  | .

  h1 Version
  p
    | You are using version: #{appConfig.version}
  p
    | For support,
    <a(href="http://redwoodeda.com/contact", target="_blank")
      | contact Redwood EDA, LLC
    | .
