div(style="width: 100%; height: 100%")
  object.mc-dragover(data="#{basePath}/public/courses/ChipEXPO-2021_RISC-V_Workshop_Slides.pdf", type="application/pdf", width="100%", height="100%")
    p
      a(href="#{basePath}/public/courses/ChipEXPO-2021_RISC-V_Workshop_Slides.pdf")
        | ChipEXPO-2021 RISC-V Workshop Slides
