div(style="width: 100%; height: 100%")
  object.mc-dragover(data="#{basePath}/public/docs/VisualDebugUsersGuide.pdf", type="application/pdf", width="100%", height="100%")
    p
      a(href="#{basePath}/public/docs/VisualDebugUsersGuide.pdf")
        | PDF
